{% extends 'base.html' %} {% load static %} {% block head %}
<link
	rel="stylesheet"
	href="{% static 'css/applications/profile-detail.css' %}" />
{% endblock %} {% block content %}

<div class="page-header">
    {% if profile.profile_picture_url%}
	<image
		src="{{profile.profile_picture_url}}"
		alt="The owner of this profile." />
    {% else %}
    <image src="{% static 'images/pfp-placeholder.svg' %}" alt="A silhouette of a person."/>
    {% endif %}
    {% if user.id == profile.id %}
    {% comment %} edit button for PFP {% endcomment %}
    {% endif %}
	<h1>
		{{profile.get_title_display}} {{profile.first_name}} {{profile.last_name}} {% if user.id == profile.id %} <a href = "{% url 'profile-update' profile.id %}">Edit</a> {% endif %}
	</h1>
</div>

{% if profile.resume_url %}
<div class="resume-container">
    <a href"{{profile.resume_url}}">View Resume</a>
</div>
{% endif %}
{% if user.id == profile.id %}
{% comment %} link for uploading resume {% endcomment %}
{% endif %}

<div class="profile-container">
	<h2>{{profile.headline}}</h2>
	<div class="experience-container">
		<h3>Experience</h3>
                {% for experience in profile.experience_set.all %}
        <h4>{{ experience.position }}</h4>
            <p>{{ experience.company_name }}</p>
            <p> From {{ experience.start_date }} to {% if experience.is_current %} current. {% else %} {{ experience.end_date }} {% endif %} </p>
            <p>{{ experience.description }}</p>
            {% if user.profile.id == profile.id%}
            <a href="">Edit</a><a href="{% url 'experience-delete' experience.id %}">Delete</a>
            {% endif %}
        </p>        
        {% endfor %}
        {% if user.profile.id == profile.id %}
        <form method='post' action = {% url 'add-experience' profile.id %} class="subsection-content">
            {% csrf_token %} {{ experience_form.as_p }}
            <button type='submit' class="btn submit">Add Experience</button>
        </form>
        {% endif %}
	</div>
	<div class="skills-container">
		<h3>Skils</h3>
		{% for skill in profile.skill_set.all %}
        <p>
            {{skill.skill}}
            {% if user.profile.id == profile.id%}
            <a href="{% url 'skill-delete' skill.id %}">x</a>
            {% endif %}
        </p>        
        {% endfor %}
        {% if user.profile.id == profile.id%}
        <form method='post' action = {% url 'add-skill' profile.id %} class="subsection-content">
            {% csrf_token %} {{ skill_form.as_p }}
            <button type='submit' class="btn submit">Add Skill</button>
        </form>
        {% endif %}
	</div>
	<div class="education-container">
		<h3>Education</h3>
        {% for education in profile.education_set.all %}
        <h4>{{ education.get_type_display }} of {{ education.qualification }}</h4>
            <p>{{education.institution_name}}</p>
            <p> From {{education.start_date}} to {% if education.is_current %} current. {% else %} {{education.end_date}} {% endif %} </p>
            {% if user.profile.id == profile.id%}
            <a href="">Edit</a><a href="{% url 'education-delete' education.id %}">Delete</a>
            {% endif %}
        </p>        
        {% endfor %}
        {% if user.profile.id == profile.id %}
        <form method='post' action = {% url 'add-education' profile.id %} class="subsection-content">
            {% csrf_token %} {{ education_form.as_p }}
            <button type='submit' class="btn submit">Add Education</button>
        </form>
        {% endif %}
	</div>
</div>
{% endblock %}
