-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
brotli==1.1.0
click==8.1.8; python_version >= '3.7'
dj-database-url==2.3.0
django==5.1.5; python_version >= '3.10'
gunicorn==23.0.0; python_version >= '3.7'
h11==0.14.0; python_version >= '3.7'
packaging==24.2; python_version >= '3.8'
psycopg2-binary==2.9.10; python_version >= '3.8'
python-dotenv==1.0.1; python_version >= '3.8'
sqlparse==0.5.3; python_version >= '3.8'
typing-extensions==4.12.2; python_version >= '3.8'
uvicorn==0.34.0; python_version >= '3.9'
whitenoise[brotli]==6.8.2; python_version >= '3.9'
