{% extends 'base.html' %} {% load static %} {% block head %}
<link
	rel="stylesheet"
	href="{% static 'css/applications/application-index.css' %}" />
{% endblock %} {% block content %}

<section class="page-header">
	<h1>My Applications</h1>
</section>

<section class="index-table">
	<table>
		<tr>
			<th>Creation Date</th>
			<th>Company Name</th>
			<th>Position</th>
			<th>Status</th>
		</tr>
		{% for application in application_list %}
		<tr>
			<td>{{ application.created_date}}</td>
			<td>{{ application.company_name}}</td>
			<td>
				<a href="{% url 'application-detail' application.id %}"
					>{{ application.position}}</a
				>
			</td>
			<td>{{ application.status}}</td>
		</tr>
		{% endfor %}
	</table>
	<form action="/applications/create">
		<button type="submit">+</button>
	</form>
</section>
{% endblock %}
