{% extends 'base.html' %} {% load static %} {% block head %}
<link
	rel="stylesheet"
	href="{% static 'css/applications/application-detail.css' %}" />
{% endblock %} {% block content %}

<div class="page-header">
	<h1>{{application.position}}</h1>
</div>

<div class="application-container">
	Date Created: {{application.created_date}} Company:
	{{application.company_name}} Status: {{application.get_status_display}}
</div>
<a href="{% url 'application-update' application.id %}" class="btn warn"
	>Edit</a
>
<a href="{% url 'application-delete' application.id %}" class="btn danger"
	>Delete</a
>

<div class="progress-container">
	<div class="subsection-title">
		<h2>Progress Items</h2>
	</div>
	<h3>Add a Progress Item</h3>
	<form
		action="{% url 'add-progress-item' application.id %}"
		method="post"
		class="subsection-content"
		autocomplete="off">
		{% csrf_token %} {{ progress_item_form.as_p }}
		<button type="submit" class="btn submit">Add Progress Item</button>
	</form>

	<table>
		<thead>
			<tr>
				<th>Type</th>
				<th>Action Date</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			{% for progress_item in application.progressitem_set.all %}
			<tr>
				<td>{{progress_item.type}}</td>
				<td>{{progress_item.action_date}}</td>
				<td>{{progress_item.notes}}</td>
				{% comment %}
				<a
					href="{% url 'progress_item-update' progress_item.id %}"
					class="btn warn"
					>Edit</a
				>
				<a
					href="{% url 'progress_item-delete' progress_item.id %}"
					class="btn danger"
					>Delete</a
				>
				{% endcomment %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
